$bodyBackgroundColor:#fbfcfd;
$navbarBackground : #20252f;
$extraHighlightBackground:#fff4ed;
$offerLabelBackground:#f2f4f7;
$offerLabelTextColor:#074786;
$primaryTextColor:#2c384a;
$secondaryTextColor:#4b5665;
$labelBackground:#ff7724;
$primaryButtonColor:#1b88f4;
$footerBackground:#212731;

